body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    background: #111;
    padding: 25px;
    border-radius: 12px;
    width: 380px;
    text-align: center;
    box-shadow: 0 0 15px #00ffcc;
}
h1 {
    color: #00ffcc;
}

.status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.question-box {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.options button {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #00ffcc;
    font-size: 15px;
    cursor: pointer;
}

.options button:hover {
    background: #00ccaa;
}

.next-btn {
    margin-top: 10px;
    padding: 8px 15px;
    border: none;
    background: orange;
    border-radius: 6px;
    cursor: pointer;
}
